@model IEnumerable<AulaDeASPNet.Models.Produto>

@{
    ViewData["Title"] = "BuscaProduto";
    Layout = "~/Views/Shared/_NossoLayout.cshtml";
    int qtdePaginas = ViewBag.QtdePainas;
    int paginaAtual = ViewBag.PaginaAtual;
}
@if (TempData["msg"] as string == "2")
{
    <div class="alert alert-success">
        <span> Dados alterados com sucesso!</span>
    </div>
}
else if (TempData["msg"] as string == "1")
{
    <div class="alert alert-success">
        <span> Dados cadastrados com sucesso!</span>
    </div>
}
<h1 class="display-4 align-content-center">Produtos</h1>

<p>
    <a class="btn btn-primary" asp-action="CadastroProduto">Novo Produto</a>
</p>
<div class="container mt-5">
    <ul class="nav nav-tabs" id="itemTabs"
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnit)
            </td>
            <td>
                <a asp-action="CadastroProduto" asp-route-id="@item.Id">Alterar</a> |
                <a asp-action="DetalhesProduto" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="DeletarProduto" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@